body {
  background-color: $white;
  //font-family: $site-font;
}
a {
  color: #0056b3;
  text-decoration: none;
  &:hover {
    color: #007bff;
    text-decoration: underline;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
.avatar-image {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1;
  display: block !important;
  margin-bottom: 10px;
}
