.container#content {
  margin-top: 60px;
}
body {
  background-color: $light-gray;
  font-family: $site-font;
}
a {
  color: #0056b3;
  text-decoration: none;
  &:hover {
    color: #007bff;
    text-decoration: underline;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #0056b3;
  &:hover {
    color: #007bff;
  }
  &.instagram:hover {
    color: #e95950;
  }
  &.facebook:hover {
    color: rgb(66, 103, 178);
  }
  &.twitter:hover {
    color: rgb(56, 161, 243);
  }
  &.google:hover {
    color: rgb(221, 75, 57);
  }
  &.linkedin:hover {
    color: rgb(0, 119, 181);
  }
  &.github:hover {
    color: #4078c0;
  }
}
.navbar-nav > li {
  display: flex !important;
  align-items: center;
  justify-content: left;
}
ul {
  list-style: none;
  padding: 0;
}
