.card {
  margin-bottom: 30px;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}

.card-subtitle.publish-date {
  color: rgba($color: #3c3c43, $alpha: 0.6);
}
