.site-header {
  line-height: 1;
  
  .header {
    display: grid;
    grid-template-columns: 1fr;

    .logo, .toggle-theme-container {
      grid-row-start: 1;
      grid-column-start: 1;
    }

    .logo {
      color: var(--logo);
      font-family: $fancy-font;
      font-size: 2.25rem;
      text-decoration: underline;
    }
    
    .logo:hover {
      color: var(--logo);
      text-decoration: none;
    }
    
    .toggle-theme-container > .toggle-theme {
      display: inline-block;
      text-align: right;
      transition: all 0.2s ease-out;

      & > button {
        background: none !important;
        border: none !important;
        padding: 0 !important;
        outline: none;
        box-shadow: none;
        cursor: pointer;
        color: var(--link-muted);
        font-size: 32px;

        &:hover {
          color: var(--primaryText);
          outline: none;
          box-shadow: none;
        }
    
        &:focus {
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }
  }

  .navbar {
    line-height: 1;
    border-bottom: 1px solid var(--separator);
  }

  & * > .nav-link {
    color: var(--link-nav);

    &.active {
      color: var(--link-nav-active);
    }
    
    &:hover {
      color: var(--link-nav-active);
    }
    &.instagram:hover {
      color: var(--instagram);
    }
    &.facebook:hover {
      color: var(--facebook);
    }
    &.twitter:hover {
      color: var(--twitter);
    }
    &.google:hover {
      color: var(--google);
    }
    &.linkedin:hover {
      color: var(--linkedin);
    }
    &.github:hover {
      color: var(--github);
    }
  }
}
