.link-muted {
  color: var(--link-muted);
  &:hover {
    outline: none;
    box-shadow: none;
    color: var(--primaryText);
  }
}

.share-btn {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  transition: all 0.1s ease-out;
  color: var(--link-muted);

  svg {
    margin-right: 4px;
  }

  &:hover {
    outline: none;
    box-shadow: none;
    color: var(--primaryText);
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.social-share-tooltip {
  .tooltip.show {
    opacity: 1;
  }
}

.social-share-links {
  text-align: left;

  ul {
    li {
      margin: 10px 7px;

      svg {
        margin-right: 4px;
      }

      a {
        transition: all 0.1s ease-out;
        color: rgb(175, 175, 175);

        &.facebook:hover {
          color: var(--facebook);
        }
        &.twitter:hover {
          color: var(--twitter);
        }
        &.google:hover {
          color: var(--google);
        }
        &.linkedin:hover {
          color: var(--linkedin);
        }
      }

      a:link {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      a:active {
        text-decoration: underline;
      }

      button.permalink {
        background: none !important;
        border: none !important;
        padding: 0 !important;
        outline: none;
        box-shadow: none;
        cursor: pointer;

        font-size: 0.875rem;

        transition: all 0.1s ease-out;
        color: rgb(175, 175, 175);

        &:hover {
          outline: none;
          box-shadow: none;
          color: #fff;
        }

        &:focus {
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }
  }
}
