.author-social-links {
  ul {
    li {
      margin: auto 7px;

      svg {
        margin-right: 4px;
      }

      a {
        transition: all 0.1s ease-out;
        color: var(--link-muted);

        &.location:hover {
          color: var(--location);
        }
        &.email:hover {
          color: var(--primaryText);
        }
        &.instagram:hover {
          color: var(--instagram);
        }
        &.facebook:hover {
          color: var(--facebook);
        }
        &.twitter:hover {
          color: var(--twitter);
        }
        &.google:hover {
          color: var(--google);
        }
        &.linkedin:hover {
          color: var(--linkedin);
        }
        &.github:hover {
          color: var(--github);
        }
      }

      a:link {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      a:active {
        text-decoration: underline;
      }
    }
  }
}
