@import url("https://fonts.googleapis.com/css?family=Raleway");

$fancy-font: "Playfair Display", Georgia, "Times New Roman", serif;
$site-font: "Raleway", sans-serif;

$light-gray: rgb(250, 250, 250);
$dark-gray: rgb(80, 80, 80);
$white: white;
